.room-map-host {
  margin: 0 auto 50px;
  position: relative;
}

.room-map-name {
  margin-left: 50px;
  color: #F25821;
}

.room-map-seat-container {
  margin: auto;
  border: 1px solid black;
  text-align: center;
}

.lecture-hall {
  width: 640px;
  height: 400px;
  padding-top: 20px;
  box-sizing: border-box;
}

.conference-room {
  width: 320px;
  height: 380px;
  position: relative;
}

.concert-hall {
  width: 720px;
  height: 600px;
  position: relative;
}

.auditorium-room {
  width: 720px;
  height: 450px;
  position: relative;
}

.room-map-row {
  margin-bottom: 8px;
}

.room-map-column {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-flow: column wrap; /* Safari 6.1+ */
  flex-flow: column wrap;
  margin-right: 8px;
}

.column-wrapper {
  height: 450px;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-flow: column wrap; /* Safari 6.1+ */
  flex-flow: column wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

.column-wrapper.zoneA {
  height: 180px;
}

.column-wrapper.zoneB {
  height: 360px;
}

.vertical-seat {
  width: 28px;
  height: 35px;
  padding-top: 10px;
  margin-right: 5px;
}

.horizontal-seat {
  width: 35px;
  height: 28px;
  padding-top: 7px;
  margin-bottom: 5px;
}

.room-map-row-label ,.room-map-seat, .room-map-seat-taken {
  background-color: #e8e2dd;
  color: #f25821;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}

.room-map-seat, .room-map-seat-taken {
  color: white;
  background-color: #f25821;
  position: relative;
}

.room-map-seat-taken::after, .room-map-seat:hover::after {
  content: '\f00c';
  font-family: FontAwesome;
  font-size: 2em;
  color: black;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.room-map-screen {
  width: 600px;
  height: 35px;
  background-color:lightgrey;
  text-align: center;
  padding-top: 12px;
  box-sizing: border-box;
  margin: 60px auto 30px;
}

.conference-board {
  width: 12px;
  height: 180px;
  background-color: lightgrey;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(0, -50%);
}

.conference-table {
  width: 80px;
  height: 150px;
  background-color: lightgrey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.conference-row-A {
  position: absolute;
  bottom: 160px;
  left: 10px;
}

.conference-row-B {
  position: absolute;
  left: 90px;
  top: 12px;
}

.conference-row-C {
  position: absolute;
  top: 160px;
  left: 10px;
}

.conference-row-D {
  position: absolute;
  right: 90px;
  top: 12px;
}

.auditorium-projection-room {
  width: 150px;
  height: 150px;
  background-color: lightgrey;
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translate(0, -50%);
  padding-top: 55px;
  box-sizing: border-box;
}

.auditorium-screen {
  position: absolute;
  width: 150px;
  background-color: lightgrey;
  left: 90px;
  top: 66px;
  transform: rotate(90deg);
}

.auditorium-zone-1 {
  position: absolute;
  top: 15px;
  left: 220px;
}

.auditorium-zone-2 {
  position: absolute;
  bottom: 15px;
  left: 220px;
}

.auditorium-zone-3 {
  position: absolute;
  left: 520px;
}

.concert-hall-zone-1 {
  position: absolute;
  left: 30px;
  top: 400px;
}

.concert-hall-zone-2 {
  position: absolute;
  left: 620px;
  top: 400px;
}

.concert-hall-zone-3 {
  position: absolute;
  left: 30px;
  top: 30px;
}

.concert-hall-zone-4 {
  position: absolute;
  left: 620px;
  top: 30px;
}

.concert-hall-zone-5 {
  position: absolute;
  left: 166px;
  top: 30px;
}

.concert-hall-zone-6 {
  position: absolute;
  left: 230px;
  top: 180px;
}

.concert-stage {
  width: 450px;
  font-size: 1.8em;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: lightgrey;
  position: absolute;
  bottom: 40px;
  left: 140px;
}