.event-category-host {
    width: 300px;
    margin: 50px 7px;
    display: inline-block;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  .event-category-content {
    border: 1px solid black;
  }
  
  .event-category-day {
    text-align: left;
    overflow-y: auto;
    height: 600px;
  }
  
  h3 {
    padding: 0 1.5em;
  }

